[user]
	name = Integralist
	email = mark.mcdx@gmail.com

[alias]
    lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%Creset' --abbrev-commit --date=relative
    st = status
    unstage = reset HEAD --

[core]
	excludesfile = ~/.gitignore_global
    editor = vim
    ignorecase = false

[color]
	ui = true
	commit = red

[color "branch"]
	current = yellow reverse
	local = yellow
	remote = green

[color "diff"]
	meta = yellow
	frag = magenta
	old = red
	new = green

[color "status"]
	added = red
	changed = blue
	untracked = magenta

[push]
    default = upstream

[apply]
    whitespace = nowarn

[branch "develop"]
    rebase = true

[mergetool]
	prompt = true

[merge]
	tool = vimdiff
	conflictstyle = diff3
