# https://git-scm.com/docs/git-config
# https://git-scm.com/docs/pretty-formats

[alias]
  collaborators =! bash -c 'git shortlog -s -- $0 | sort -r'
  conflicts = diff --name-only --diff-filter=U
  diff = diff -w ; ignore whitespace
  diff-word = diff --word-diff=color
  diff-unmerged =! bash -c 'git diff --name-only --diff-filter=U | uniq  | xargs "$EDITOR"'
  log-short = log --pretty=format:'%s%n%C(green)%h %C(yellow)%D%n'
  log-detailed = log --graph --pretty=format:'%Cred%h%Creset (%an) -%C(yellow)%d%Creset %s %Cgreen(%cr)%Creset' --abbrev-commit --date=relative
  log-graph = log --graph
  log-me = log --graph --author='Integralist'
  pushit = push --force-with-lease origin head
  recentbranches = for-each-ref --count=10 --sort=-committerdate refs/heads/ --format='%(refname:short)'
  search =! bash -c 'git rev-list --all | xargs git grep "$1"'
  show = show -w
  st = status
  unstage = reset HEAD --

[apply]
  whitespace = nowarn

[branch "master"]
  rebase = true

[color]
  ui = true
  commit = red

[color "diff"]
  frag = magenta
  meta = yellow
  new = green
  old = red

[color "diff-highlight"]
  # for some reason my terminal theme needs pink to be set for the
  # actual colors (red/green) to standout more clearly??
  newhighlight = pink bold 22
  newnormal = pink bold
  oldhighlight = pink bold 52
  oldnormal = pink bold

[color "status"]
  added = red
  changed = yellow
  untracked = white

[core]
  editor = vim
  excludesfile = ~/.gitignore-global
  ignorecase = false

[diff]
  indentHeuristic = true
  compactionHeuristic = true

[diff "exif"]
  textconv = exiftool

[fetch]
  recurseSubmodules = true # still requires: git clone --recursive ...

[merge]
  conflictstyle = merge # previously 'diff3' (common ancestors) but wasn't that useful
  tool = vimdiff

[mergetool]
  prompt = true

[push]
  default = upstream

[user]
  name = Integralist
  email = mark.mcdx@gmail.com
  ; signingkey = ...

; https://blog.github.com/changelog/2018-11-08-git-protocol-v2-support/
[protocol]
  version = 2
