# https://git-scm.com/docs/git-config

[alias]
  st = status
  unstage = reset HEAD --
  lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%Creset' --abbrev-commit --date=relative
  log = log --graph

[apply]
  whitespace = nowarn

[branch "master"]
  rebase = true

[color]
  ui = true
  commit = red

[color "diff"]
  frag = magenta
  meta = yellow
  new = green
  old = red

[color "diff-highlight"]
  # for some reason my terminal theme needs pink to be set for the
  # actual colors (red/green) to standout more clearly??
  newhighlight = pink bold 22
  newnormal = pink bold
  oldhighlight = pink bold 52
  oldnormal = pink bold

[color "status"]
  added = red
  changed = yellow
  untracked = white

[core]
  editor = nvim
  excludesfile = ~/.gitignore-global
  ignorecase = false

[fetch]
  recurseSubmodules = true # still requires: git clone --recursive ...

[interactive]
	diffFilter = /usr/local/Cellar/git/2.9.0/share/git-core/contrib/diff-highlight/diff-highlight

[merge]
  conflictstyle = merge # previously 'diff3' (common ancestors) but wasn't that useful
  tool = vimdiff

[mergetool]
  prompt = true

[pager]
	log = /usr/local/Cellar/git/2.9.0/share/git-core/contrib/diff-highlight/diff-highlight | less
	show = /usr/local/Cellar/git/2.9.0/share/git-core/contrib/diff-highlight/diff-highlight | less
	diff = /usr/local/Cellar/git/2.9.0/share/git-core/contrib/diff-highlight/diff-highlight | less

[push]
  default = upstream

[url "git@github.com:"]
  insteadof = https://github.com/

[user]
  name = Integralist
  email = mark.mcdx@gmail.com
