; for full example: pylint --generate-rcfile

[DEFAULT]
max-line-length=120

[TYPECHECK]
ignored-modules = ujson,bf_site_utils,bf_rig
ignored-classes = ujson,bf_site_utils,bf_rig

[MASTER]

; Python code to execute, usually for sys.path manipulation
;init-hook='import sys; sys.path.append("/path/to/root")'
