# https://starship.rs/config/

command_timeout = 5000

# https://dev.to/therubberduckiee/how-to-configure-starship-to-look-exactly-like-p10k-zsh-warp-h9h
#
# NOTE: The Warp Terminal font size needs to be 15 rather than 13 now (otherwise line-height breaks the rendering).

format = """\
[](bg:#282A36 fg:#7DF9AA)\
[$jobs](bg:#7DF9AA fg:#282A36)\
[](fg:#7DF9AA bg:#1C3A5E)\
$time\
[](fg:#1C3A5E bg:#3B76F0)\
$directory\
[](fg:#3B76F0 bg:#FCF392)\
$git_branch\
[](fg:#FCF392 bg:#f0af22)\
$git_status\
$git_metrics\
[](fg:#f0af22 bg:#bd4024)\
$custom\
[](fg:#bd4024 bg:#ff8a9f)\
$golang\
$lua\
$nodejs\
$perl\
$php\
$python\
$ruby\
$rust\
$shell\
$terraform\
$zig\
[](fg:#ff8a9f bg:#282A36)\
$character\
$cmd_duration\
$line_break\
"""

add_newline = true

[line_break]
disabled = false

[directory]
format = "[ $path ]($style)"
style = "fg:#E4E4E4 bg:#3B76F0"

[golang]
format = '[ $symbol($version )]($style)'
style = "fg:#282A36 bg:#ff8a9f"

[lua]
format = '[ $symbol($version )]($style)'
style = "fg:#282A36 bg:#ff8a9f"

[nodejs]
format = '[ $symbol($version )]($style)'
style = "fg:#282A36 bg:#ff8a9f"
not_capable_style = "fg:#282A36 bg:#ff8a9f"

[perl]
format = '[ $symbol($version )]($style)'
style = "fg:#282A36 bg:#ff8a9f"

[php]
format = '[ $symbol($version )]($style)'
style = "fg:#282A36 bg:#ff8a9f"

[python]
format = '[ $symbol($version )]($style)'
style = "fg:#282A36 bg:#ff8a9f"

[ruby]
format = '[ $symbol($version )]($style)'
style = "fg:#282A36 bg:#ff8a9f"

[rust]
format = '[ $symbol($version )]($style)'
style = "fg:#282A36 bg:#ff8a9f"

[shell]
format = '[ $symbol($version )]($style)'
style = "fg:#282A36 bg:#ff8a9f"

[terraform]
format = '[ $symbol($version )]($style)'
style = "fg:#282A36 bg:#ff8a9f"

[zig]
format = '[ $symbol($version )]($style)'
style = "fg:#282A36 bg:#ff8a9f"

[git_branch]
format = '[ $symbol$branch(:$remote_branch) ]($style)'
symbol = "  "
style = "fg:#1C3A5E bg:#FCF392"

[git_status]
format = '([ $conflicted$deleted$renamed$modified$staged$untracked ]($style))'
style = "bold fg:#1C3A5E bg:#f0af22"

[git_metrics]
format = "([+$added]($added_style))([ -$deleted ]($deleted_style))"
added_style = "bold fg:#35a115 bg:#f0af22"
deleted_style = "bold fg:#ff0000 bg:#f0af22"
disabled = false

[hg_branch]
format = "[ $symbol$branch ]($style)"
symbol = " "

[cmd_duration]
format = "[󱑍 $duration ]($style)"
style = "fg:bright-white"

[character]
success_symbol = '[ ➜](bold green) '
error_symbol = '[ ✗](#E84D44) '
vimcmd_symbol = ' [❮](bold green)'

[time]
disabled = false
time_format = "%T"                                      # Hour:Minute:Second Format (%r is 12h so shows AM/PR, or %R which is just Hour:Minute)
style = "bg:#1d2230"
format = '[[ 󱑍 $time ](bg:#1C3A5E fg:#8DFBD2)]($style)'

[jobs]
symbol = " +"
style = "bg:#7DF9AA fg:#282A36"

# Because the starship provided [git_commit] module don't work for me.
[custom.gittag]
command = '''
tag=$(git describe --tags --abbrev=0)
if [ ${#tag} -gt 30 ]; then
  echo "${tag:0:30}..."
else
  echo "$tag"
fi
'''
when = "[ -d .git ] && echo .git || git rev-parse --git-dir > /dev/null 2>&1 && [ $(git tag | wc -l | tr -d '[:space:]') -gt 0 ]"
ignore_timeout = true
style = "fg:#ffffff bg:#bd4024"
format = "([ $output]($style))"

[custom.gitcommit]
command = "echo \"$(git rev-parse --short HEAD)\""
when = "[ -d .git ] && echo .git || git rev-parse --git-dir > /dev/null 2>&1 && [ $(git tag | wc -l | tr -d '[:space:]') -gt 0 ]"
ignore_timeout = true
style = "fg:#ffffff bg:#bd4024"
format = "[ $output ]($style)"

[custom.infra_context]
command = "cat ~/.infra_context 2>/dev/null || echo 'No context'"
when = "[ -f ~/.infra_context ] && [[ \"$PWD\" == \"$HOME/Code/fastly/domainr-api\"* ]]" # make sure we check if we're inside a nested directory
style = "fg:#ffffff bg:#bd4024"
format = "[$output ]($style)"
